*.vcd

tmp.*
tmp_tb.*

# GHDL
*.cf
*.ghw

# Verilator
obj_dir

# Yosys
verilog/yosys_syn

## Synopsys

# vcs
csrc/
simv
simv.daidir/
ucli.key

## Cadence

# Incisive.
INCA_libs/
ncsim.log
ncverilog.history
ncverilog.log
