*.vcd
*.vvp

# Temporary files.
*.bak
tmp.*
tmp_tb.*
*.tmp

# GHDL
*.cf
*.ghw

# Verilator
obj_dir

# Yosys
verilog/yosys_syn

## Synopsys

# vcs
csrc/
simv
simv.daidir/
ucli.key

## Cadence

# Incisive.
.simvision/
INCA_libs/
ncsim.log
ncverilog.history
ncverilog.key
ncverilog.log
